@model ListFoodWebApp.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-4">
        <div class="align-middle">
            <select onchange="selectedEvent(this)" name="listbox" id="listbox">
                @foreach (var item in ViewBag.Events)
                {
                    var text = item.Title + " - " + item.StartDate;
                    <option value="@item.EventId">
                        @text
                    </option>
                }
            </select>
        </div>
    </div>
    <div class="col-1">
    </div>

    <div class="col-7">
        <div id="EventSectionContainer">
        </div>
    </div>
</div>

    <div class="d-flex justify-content-center">
        <a href="javascript:void(0)" onclick="OrderConfirmation()" class="btn btn-primary">Confirm Order</a>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

